<h1>Listing Channels</h1>
<table>
<% @channels.each do |channel| %>
<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
<td>
<%= link_to image_tag(channel.image_url), channel_posts_path(channel) %>
</td>
<td class="list_description">
<dl>
<dt><%= channel.title %></dt>
<dd><%= truncate(strip_tags(channel.description),
length: 80) %></dd>
<dt>Author - <%=channel.author %></dt>
</dl>
</td>
<td class="list_actions">

<%= link_to 'Edit', edit_channel_path(channel) %><br/>
<%= link_to 'Destroy', channel, method: :delete,
data: { confirm: 'Are you sure?' } %>
</td>
</tr>
<% end %>
</table>
<br />
<%= link_to 'New Channel', new_channel_path %>