<%= form_tag sessions_path do %>
<div class="container">
  <form class="form-signin" role="form">
    <h2 class="form-signin-heading">Please sign in</h2>
      <%= text_field_tag :email, params[:email] , class: 'form-control'%>
      <%= password_field_tag :password, class: 'form-control' %>
        
      <%= check_box_tag :remember_me, 1, params[:remember_me] %>
      <%= label_tag :remember_me %>
      <div class="actions"><%= submit_tag "Log in" %></div>
      <% end %>
  </form>
</div>