<h1>Listing post</h1>
<table>
<% @posts.each do |post| %>
<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">

<td class="list_description">
<dl>
<dt><%= post.title %></dt>
<dd><%= truncate(strip_tags(post.text),
length: 80) %></dd>
</td>
</tr>
<% end %>
</table>
<br />
<%= link_to 'new post', new_channel_post_path %><br>
<%= link_to 'Back to Channel list', channels_path %>