<h1>Listing post</h1>
<table>
<% @posts.each do |post| %>
<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">

<td class="list_description">
<dl>
<dt><%= post.title %></dt>
<dd><%= truncate(strip_tags(post.text),
length: 80) %></dd>
</td>
<td class="list_actions">

<%= link_to 'Edit', edit_post_path(post) %><br/>
<%= link_to 'Destroy', channel_posts_path(@channel), post_item, method: :delete,
data: { confirm: 'Are you sure?' } %>
</td>
</tr>
<% end %>
</table>
<br />
<%= link_to 'new post', new_channel_post_path %>